[project]
name = "fastapi-the-complete-course"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "fastapi[cli,standard]>=0.128.0",
]
